/*Asodariya, Krupa - 1001773036
Patel, Mansi - 1001874295
Mudaliyar, Yogeshwaran - 1001965647*/

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 8pt;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border: 2px solid rgb(0, 57, 79);
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  
}


.main::before{
 
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

}


.form{
  width : 40%; 
  margin: 35pt 40pt 35pt 40pt;
  justify-content: center;
  background-color: rgba(157,225,254,0.74);
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; 
}

.form-heading{
  text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  
}
.form-btn{
  display: flex;
  
}
.cancelbtn, .signupbtn {
  margin: 3pt;
  border-radius: 8pt;
}

.cancelbtn {
  /* padding: 14px 20px; */
  background-color: #f44336;
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 600px) {
  .form{
    width: auto;
  }
  .form-btn{
    display: block;
    /* justify-content: space-between; */
  }
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}